Source: ros-melodic-robosense-simulator
Section: misc
Priority: optional
Maintainer: Thomas SIMON <thomas.simon@ensta-paris.fr>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/robosense_simulator
Standards-Version: 3.9.2

Package: ros-melodic-robosense-simulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-robosense-description, ros-melodic-robosense-gazebo-plugins
Description: Metapackage allowing easy installation of Robosense simulation components.
