Source: ros-melodic-robosense-description
Section: misc
Priority: optional
Maintainer: Thomas SIMON <thomas.simon@ensta-paris.fr>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: http://wiki.ros.org/robosense_description
Standards-Version: 3.9.2

Package: ros-melodic-robosense-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-urdf, ros-melodic-xacro
Description: URDF and meshes describing Robosense laser scanners.
